<% provide(:title, 'Resources') %>
<h1>Resources</h1>
<p>
  This is where the resources will be.
</p>

  <div class="btn-group">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Info <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div><!-- /btn-group -->

<br>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown">
    Resource Type
  	<span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="www.google.com">Blender Models</a></li>
    <li><a href="#">Textures</a></li>
    <li><a href="#">VSC Envelopes</a></li>
    <li><a href="#">VSC Environments</a></li>
  </ul>
</div>
